
<section class="vx-cta container">
  <div class="vx-cta-inner" style="--bg:url('{{ component.fields.image.value }}')">
    <div class="vx-cta-overlay"></div>
    <div class="vx-cta-content">
      <h3>{{ component.fields.title.value }}</h3>
      <p>{{ component.fields.subtitle.value }}</p>
      <a class="vx-btn outline" href="{{ component.fields.link.value }}">تسوق العروض</a>
    </div>
  </div>
</section>
